<!-- home.blade.php -->

@extends('layouts.app')

@section('content')
    <div class="container">
        <h1>Données de l'utilisateur connecté</h1>

        @if(count($data) > 0)
            <table class="table">
                <thead>
                    <tr>
                        {{-- <th>CO_No</th> --}}
                        <th>CT_Intitule</th>
                        <th>CT_Telephone</th>
                        <th>CT_EMail</th>
                        <th>CO_Nom</th>
                        {{-- <th>CT_Num</th> --}}
                        <th>EC_Intitule</th>
                        {{-- <th>EC_sens</th> --}}
                        {{-- <th>Ec_Montant</th> --}}
                        {{-- <th>EC_Echeance</th> --}}
                        <th>EC_RefPiece</th>
                        {{-- <th>EC_Lettre</th> --}}
                        {{-- <th>TotalDébit</th>
                        <th>TotalCrédit</th> --}}
                        <th>Solde</th>
                    </tr>
                </thead>
                <tbody>
                    @php
                        $currentCTNum = null;
                        $totalDebit = 0;
                        $totalCredit = 0;
                        $currentSolde = 0;
                    @endphp

                    @foreach($data as $item)
                        @if($currentCTNum !== $item->CT_Num)
                            @if($currentCTNum !== null)
                                {{-- <td>{{ $totalDebit }}</td>
                                <td>{{ $totalCredit }}</td> --}}
                                <td>{{ $totalDebit - $totalCredit }}</td>
                                </tr>
                            @endif

                            <tr>
                                {{-- <td>{{ $item->CO_No }}</td> --}}
                                <td>{{ $item->CT_Intitule }}</td>
                                <td>{{ $item->CT_Telephone }}</td>
                                <td>{{ $item->CT_EMail }}</td>
                                <td>{{ $item->CO_Nom }}</td>
                                {{-- <td>{{ $item->CT_Num }}</td> --}}
                                <td>{{ $item->EC_Intitule }}</td>
                                {{-- <td>{{ $item->EC_sens }}</td> --}}
                                {{-- <td>{{ $item->Ec_Montant }}</td> --}}
                                {{-- <td>{{ $item->EC_Echeance }}</td> --}}
                                <td>{{ $item->EC_RefPiece }}</td>
                                {{-- <td>{{ $item->EC_Lettre }}</td> --}}

                                @php
                                    // Réinitialise les totaux pour la nouvelle facture
                                    $totalDebit = 0;
                                    $totalCredit = 0;
                                    $currentSolde = 0;
                                    $currentCTNum = $item->CT_Num;

                                    // Vérifie le EC_sens pour déterminer le débit ou le crédit
                                    if ($item->EC_sens > 0) {
                                        $totalCredit += $item->Ec_Montant;
                                    } else {
                                        $totalDebit += $item->Ec_Montant;
                                    }
                                    $currentSolde += $item->Ec_Montant;
                                @endphp
                        @else
                            <!-- Ajoutez simplement le montant à la facture existante -->
                            @php
                                // Vérifie le EC_sens pour déterminer le débit ou le crédit
                                if ($item->EC_sens > 0) {
                                    $totalCredit += $item->Ec_Montant;
                                } else {
                                    $totalDebit += $item->Ec_Montant;
                                }
                                $currentSolde += $item->Ec_Montant;
                            @endphp
                        @endif
                    @endforeach

                    <!-- Affichez les totaux pour la dernière facture -->
                    {{-- <td>{{ $totalDebit }}</td>
                    <td>{{ $totalCredit }}</td> --}}
                    <td>{{ $totalDebit - $totalCredit }}</td>
                    </tr>
                </tbody>
            </table>
        @else
            <p>Aucune donnée disponible.</p>
        @endif
    </div>
@endsection






















































